// grid
$sm: 575.98px;
$md: 767.98px;
$lg: 991.98px;
$xl: 1199.98px;
$xxl: 1399.98px;
$xxxl: 1599.98px;
// $hd: 1919.98px;

// Fonts
$main-font: "Roboto", sans-serif;

// Colors body
$body-bg-color: #fff;

// Bg
$bg-dark: #000;
$bg-white: #fff;
$bg-gray: #f0f0f0;
$bg-blue: #00b6bd;

// Colors
$dark: #000;
$white: #fff;
$blue: #00b6bd;

// Box shadows
$border-rad-inf: 10px;